{% extends 'BoardModel/base.html' %}
{% block title %}add{% endblock title %}
{% block headline %}등록 하기{% endblock headline %}
{% block content %}
    <form action="{% url 'BoardModel:add' %}" method="post" >
        {% csrf_token %}
        <p>제목: <input type="text" name="title"></p>
        <p>작성자: <input type="text" name="writer"></p><br>
        <div>내용:</div>
        <textarea cols="30" rows="10" name="content"></textarea><br>
        <input type="submit" value="글등록">
    </form>
{% endblock %}